
@import '_variables';
@import 'Navbar';
@import 'Intro';
@import 'Offer';
@import 'Carousel';

/* Main Style */

.App{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.bk-main{
    min-width: 100%;
    min-height: 85%;
    left:0;
    right: 0;
    top:0;
    float: left;
    position: absolute;
    z-index: -1;
    background: linear-gradient(315.03deg, #00B8FF 0%, #712CCB 100%);
}

.container-main{
    width:75%;
}

.container-default {
    padding-top: 100px;
    margin-bottom: 50px;
}

.input-group-text{
    background-color: $white;
    border-right:transparent;
}

.card{
    border-radius: 8px;
    text-align: center;
    padding: 50px;
    background-color: $white;
    max-width:358px;
    box-shadow: 0 20px 20px -15px rgba(11,12,16,0.2);
}

.btn-default {
    border-radius: 8px;
    cursor: pointer;
}

.bnt-icon {
    margin: 0 4px 0 4px;
}

@media (max-width: 1024px) {
    .container-main{
        width:100%;
    }
}
